body {
  cursor: default;
  font-family: sans-serif;
  margin: 20px;
  width: 20rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #343434;
    color: #fff;
  }
}

h1 {
  margin-top: 0;
}

button {
  background-color: #bea5ff;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 2px 4px #000;
  cursor: pointer;
  font-weight: bold;
  padding: 7.5px 15px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}
li:nth-child(odd) {
  background: #80808030;
}
@media (prefers-color-scheme: light) {
  li:nth-child(even) {
    background: #ffffff;
  }
}

h3,
p {
  margin: 0;
}
